/*
    Default is "config"

    "development"/"production" overrides what's in the config

    Copy this file to env.json and delete this comment
 */
{
	"config":{
		"token_symbol":"qrl"
	},
    "development": {
        "token": ""
    },
    "production": {
    	"token":""
    }
}